{
  "arrowParens": "avoid",
  "jsxSingleQuote": true,
  "jsxBracketSameLine": true,
  "printWidth": 100,
  "quoteProps": "preserve",
  "singleQuote": false,
  "trailingComma": "es5",
  "tabWidth": 2
}
