page-home {
  div.file-thumbnail-container {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;

    img {
      object-fit: cover;
      object-position: center;
    }
  }
}
