<ion-header>
  <ion-navbar>
    <ion-title>Test Image Compression</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button block outline (click)="onImageAdd()">
    ADD IMAGE
  </button>
  <button ion-button block outline (click)="onFileAdd()">
    ADD FILE
  </button>
  <input
    id="input-file"
    name="input-file"
    type="file"
    hidden
    (change)="onFileSelect($event)"
    #inputFile
  />
  <ion-list *ngIf="files && files.length > 0">
    <h4 no-margin>Files</h4>
    <ion-item *ngFor="let file of files, let i = index" no-padding>
      <div class="file-thumbnail-container" item-start *ngIf="isImage(file)">
        <img [src]="sanitizeURL(file.data)" />
      </div>
      <div class="file-title">
        {{ i + 1 }} - {{ file.name }}
      </div>
      <div class="file-size">{{ file.size | filesize }}</div>
      <button ion-button color="dark" clear icon-only item-end (click)="onFileDelete(i)">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-item no-padding *ngIf="zipFile">
    <div>ZIP Generated</div>
    <div>Size: {{ zipFile.length | filesize }}</div>
  </ion-item>
  <button margin ion-button block (click)="onGenerateZip()">
    GENERATE ZIP
  </button>
</ion-footer>
